.botao {
    background-color:red;
    border: none;
    padding: 10px;
}
.botao2 {
    background-color: white;
    border: none;
    padding: 10px;
}
.botao3 {
    background-color: black;
    border: none;
    padding: 10px;
}